 #main-nav{
    display: none;
  }
  .hidden1{
    display: none;
  }
  #nav2{
    width: 90vw;
    display: grid;
    grid-template-columns: 18% 33% 49%;
    margin: auto;
    padding: 10px;
    & div{
      display: flex;
      &.logo{
        font-size: 27px;
        font-weight: bolder;
        display: flex;
        align-items: center;
        & p{
          padding-left: 5px;
        }
        /* border: black 1px solid; */
      }
      &.nav{
        display: flex;
        align-items: center;
        & details{
          & summary{
            list-style: none;
            font-size: 20px;
            padding-left: 15px;
          }
          & ul{
            display: flex;
            list-style: none;
            flex-direction: column;
            position: absolute;
            gap: 8px;
            align-items: center;
            font-size: 20px;
            & a{
              text-decoration: none;
              color: black;
            }
          }
        }
        & ul{
          display: flex;
          list-style: none;
          gap: 8px;
          align-items: center;
          font-size: 20px;
          & a{
            text-decoration: none;
            color: black;
          }
        }
      }
      &.search{
        display: flex;
        justify-content: flex-end;
        gap: 17px;
        padding-right: 0;
        /* border: solid black 1px; */
        & button{
          background-color: brown;
          border: none;
          color: white;
          border-radius: 25px;
          height: 40px;
          width: 150px;
          cursor: pointer;
          font-size: 16px;
        }
      }
    }
  }

  .section1{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    & .image1{
      width: 100%;
    }
  }
  .section2{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }